*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrap{
  border: 1px solid #D0C6B5;
  background: #D0C6B5;
  width: 150px;
  padding: 10px;
  height: 195px;
  margin: 30px auto;
  position: relative;
}
.wrap span{
  position: absolute;
  left: 15px;
  top: 15px;
  border:1px solid #00211E;
  display: inline-block;
  margin: 0;
  padding: 0px;
  width: 40px;
  text-align: center;
  background: #EEE;
  height: 55px;
  line-height: 55px;
  font-size: 20px;
  font-family: Arial;
}
.i1{
  transform: translate3d(0,0,0);
}
.i2{
  transform: translate3d(40px,0,0);
}
.i3{
  transform: translate3d(80px,0,0);
}
.i4{
  transform: translate3d(0,55px,0);
}
.i5{
  transform: translate3d(40px,55px,0);
}
.i6{
  transform: translate3d(80px,55px,0);
}
.i7{
  transform: translate3d(0,110px,0);
}
.i8{
  transform: translate3d(40px,110px,0);
}
.i9{
  transform: translate3d(80px,110px,0);
}
