<!DOCTYPE html>
<html>
<head>
<title>omni</title>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
<meta name="author" content="Thilina Fong" />
<meta name="description" content="" />
</head>
<body>

<div id="omni">
  <h2>omni:</h2>
  <section class="me">
    <h3>Me</h3>
    <ul>
      <li v-for="v in fe">
        {{v["leveled-start"] | justDate}} ── {{v.title}}
      </li>
    </ul>
  </section>
  <section class="one">
    <h3>1</h3>
    <ul>
      <li v-for="v in one">
        {{v["leveled-start"] | justDate}} ── {{v.title}}
      </li>
    </ul>
  </section>
  <section class="two">
    <h3>2</h3>
    <ul>
      <li v-for="v in two">
        {{v["leveled-start"] | justDate}} ── {{v.title}}
      </li>
    </ul>
  </section>

</div>  <!--container-->
<script src="../vue.js"></script>
<script src="../xml2json.min.js"></script>
<script src="./index.js"></script>
</body>
</html>
