<!DOCTYPE html>
<html>
<head>
<title>omni</title>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
<meta name="author" content="Thilina Fong" />
<meta name="description" content="" />
<style>
.is_done{
  text-decoration: line-through;
  color: #a7a7a7;
}
#omni{
  display: none;
}
.css_colors{
  width: 300px;
  position: absolute;
  right: 30px;
  top:30px;
}
.css_colors div{
  text-align: right;
  height: 60px;
  line-height: 60px;
  padding-right: 10px;
  margin-bottom: 10px;
  /*color: yellow;*/
}
.fahrenheit{
  font-size: 30px;
  text-align: center;
  color: darkblue;
}
</style>
</head>
<body>

<div id="omni">
  <h2>omni:</h2>
  <section class="me">
    <h3>Me</h3>
    <ul>
      <li v-for="v in fe" :class="v['is-done']">
        {{v["leveled-start"] | justDate}} ── {{v.title}}
      </li>
    </ul>
  </section>
  <section class="one">
    <h3>1</h3>
    <ul>
      <li v-for="v in one">
        {{v["leveled-start"] | justDate}} ── {{v.title}}
      </li>
    </ul>
  </section>
  <section class="two">
    <h3>2</h3>
    <ul>
      <li v-for="v in two">
        {{v["leveled-start"] | justDate}} ── {{v.title}}
      </li>
    </ul>
  </section>

</div>
<section id="f">
  <h2 class="fahrenheit"> 
    <strong>{{F.temperature | C2F}}</strong>
    ℉
    <small>{{F.reporttime}}</small>
  </h2>

  
</section>
<section class="css_colors">
  <div style="background: #0077ee;">#0077ee</div>
  <div style="background: #ec4783;">#ec4783</div>
  <div style="background: #0324ff;">#0324ff</div>
  <div style="background: #ff0078;">#ff0078</div>
  <div style="background: snow;">(雪)snow</div>
  <div style="background: antiquewhite;">(古典白)antiquewhite</div>
  <div style="background: aqua;">(淺綠)aqua</div>
  <div style="background: azure;">(天藍)azure</div>
  <div style="background: whitesmoke;">(煙白)whitesmoke</div>
  <div style="background: chocolate;">(巧克力)chocolate</div>
  <div style="background: crimson;">(深紅)crimson</div>
  <div style="background: lightcyan;">(淡青)lightcyan</div>
  <div style="background: darkturquoise;">(深粉藍)darkturquoise</div>
  <div style="background: floralwhite;">(花白)floralwhite</div>
  <div style="background: ghostwhite;">(幽靈白)ghostwhite</div>
  <div style="background: lavender;">(薰衣草)lavender</div>
  <div style="background: lawngreen;">(草坪綠)lawngreen</div>
  <div style="background: mistyrose;">(霧)mistyrose</div>
  <div style="background: orchid;">(蘭花)orchid</div>
  <div style="background: silver;">(銀)silver</div>
  <div style="background: dimgray;">(暗灰)dimgray</div>
  <div style="background: tan;">(黝黑)tan</div>
  <div style="background: blueviolet;">(紫罗兰)blueviolet</div>
  <div style="background: darkviolet;">(深紫紅)darkviolet</div>
  <div style="background: rebeccapurple;">(麗貝卡紫)rebeccapurple</div>
  <div style="background: darkblue;">(深藍)darkblue</div>
  <div style="background: midnightblue;">(深夜藍)midnightblue</div>
</section>
<script src="../vue.js"></script>
<script src="../xml2json.min.js"></script>
<script src="./index.js"></script>
</body>
</html>
